body {
  font-family: "motiva-sans", sans-serif !important;
  .main {
    background-color: $white;
    min-height: 100vh;
    font-weight: 300;
    color: #484848;

    a {
      text-decoration: none !important;
    }
  }
}

.text-success {
  color: #2dce89;
}

.btn-constant {
  border-radius: 4px;
  background-color: red;
  color: $white !important;
  padding: 10px 35px;
  img {
    margin-right: 10px;
    max-height: 15px;
  }
}
