body {
  font-family: "Apercu Pro", sans-serif !important;
  .layout-content {
    background-color: $white;
    min-height: 100vh;
    font-weight: 300;
    color: #484848;

    a {
      text-decoration: none !important;
    }
    img {
      max-width: 100%;
    }
    main {
      padding-top: 7vh;
      section {
        z-index: 1;
        position: relative;
        line-height: 24px;
        font-size: 15px;
      }
    }
  }
}
