.home {
  @include breakpoint("md") {
    min-height: 600px;
    padding-top: 12vh;
    height: 100vh;
  }
  @include breakpoint-max("md") {
    padding-top: 50px;
  }
  &-heading {
    &__slogan {
      color: $blue !important;
      font-weight: 500;
      font-size: 3.2rem;
      margin-top: 18px;
      font-weight: 400;
      text-align: center;
      letter-spacing: -0.015cm;
      white-space: nowrap;
      @include breakpoint-max("md") {
        font-size: 200%;
        margin-top: 30px;
      }
    }
    &__desc {
      color: $marineDarken;
      font-size: 1.2rem;
      margin-top: 50px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.025cm;
      line-height: 35px;
      @include breakpoint-max("md") {
        font-size: 95%;
        line-height: 150%;
        margin-top: 30px;
      }
    }
    @include breakpoint-max("md") {
      &-heading {
        margin-top: 0;
        margin-bottom: 30px;
      }
    }
  }
}
