.faq {
  margin-top: 80px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;  

  .jumbotron {
    height: 300px;
    width: 100%;
    background: $blue;
    padding: 2rem;
    .title {
      display:flex;
      justify-content:center;
      align-items:center;
      color: $base;
      font-size: 3rem;
      font-weight: 300;
      padding: 50px;
    }
  }

  .container {
    margin: 0 auto;

    .acc-container {
      width:100%;
      margin:0 0 50px;
      border-radius:8px;
      overflow:hidden;
      
      .acc-btn { 
        width:100%;
        margin:0 auto;
        padding:0 5px;
        cursor:pointer;
        border-bottom:1px solid $blueDarken;
        &--title {
          font-weight: 400;
        }
        & > .selected {
          color:$blueDarken;
        }
      }

      .acc-content {
        height:0px;
        width:100%;
        margin:0 auto;
        overflow:hidden;
        .acc-content-inner {
          padding:5px;
          color: $gray; 
        }
      }
    }
    .open {
      height: auto;
    }
  }
}