.sb-header {
  font-weight: 500;
  width: 100%;
  margin-top: 4vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  @include breakpoint("md") {
    &.block5 {
      background-color: transparent !important;
      color: $white;
      a {
        color: $white !important;
      }
      .sb-logo {
        svg {
          path {
            fill: #fff;
          }
          circle {
            fill: #fff;
          }
        }
      }
    }
  }
  .sb-logo {
    svg {
      height: 33px;
      margin: 8px 7px;
    }
    float: left;
  }
  .sb-menu {
    user-select: none;
    @include breakpoint("md") {
      float: right;
    }
    @include breakpoint-max("md") {
      margin-top: 0px;
      display: none;
      -webkit-box-flex: 1;
      flex-grow: 1;
      overflow-x: auto;
      background-color: $marineDarken;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      transform: translateX(100vw);
      will-change: transform;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px inset;
      padding: 32px;
      transition: transform 0.2s ease-out 0s;
      width: 100vw;
      &.show {
        transform: translateX(0px);
        z-index: 10;
        ul {
          li {
            width: 100%;
            margin: 10px 20px;
            &.sb-cta {
              margin: 10px 20px;
            }
            a {
              color: $white;
            }
          }
        }
      }
      ul {
        li {
          width: 100%;
          margin: 10px 20px;
          &.sb-cta {
            margin: 10px 20px;
          }
          a {
            color: $white;
          }
        }
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          position: relative;
          font-weight: 300;
          color: $marineDarken;
          display: block;
          padding: 10px 15px 10px 10px;
          transition: 0.3s;
          font-size: 15px;
          margin: 8px 15px;
          letter-spacing: 1px;
          &:hover {
            transition: all 600ms ease-in-out;
            background-color: $blue !important;
            color: $white;
          }
        }
        &.sb-cta {
          margin-left: 30px;
          a {
            @include btn-style;
            margin: 10px -6px !important;
          }
        }
      }
      @include breakpoint("md") {
        li {
          display: inline-block;
        }
      }
      @include breakpoint-max("md") {
        li {
          display: block;
          a {
            padding: 0;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              height: 1px;
              background-color: $marineDarken;
              opacity: 0.3;
              text-decoration: none;
            }
          }
          &:last-of-type a:after {
            display: none;
          }
        }
      }
    }
  }
  .sb-hamburger {
    user-select: none;
    float: right;
    display: none;
    cursor: pointer;
    @include breakpoint-max("md") {
      display: block;
      margin: 10px;
      z-index: 11;
      position: relative;
    }
  }
}
