.sb-header {
  font-weight: 500;
  width: 100%;
  margin-top: 5vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  @include breakpoint("md") {
    &.block5 {
      background-color: transparent !important;
      color: $white;
      a {
        color: $white !important;
      }
      .sb-logo {
        svg {
          path {
            fill: #fff;
          }
          circle {
            fill: #fff;
          }
        }
      }
    }
  }
  .sb-logo {
    svg {
      height: 37px;
      margin: 8px 4px;
    }
    float: left;
  }
  .sb-menu {
    user-select: none;
    @include breakpoint("md") {
      float: right;
    }
    @include breakpoint-max("md") {
      margin-top: 60px;
      display: none;
      &.show {
        display: block;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          position: relative;
          font-weight: 300;
          color: #484848;
          display: block;
          padding: 10px;
          transition: 0.3s;
          font-size: 15px;
          margin: 10px 17px;
          letter-spacing: 1px;
          &:hover {
            opacity: 0.5;
          }
        }
        &.sb-cta {
          margin-left: 30px;
          a {
            @include btn-style;
            margin: 12px 0px !important;
          }
        }
      }
      @include breakpoint("md") {
        li {
          display: inline-block;
        }
      }
      @include breakpoint-max("md") {
        li {
          display: block;
          a {
            padding: 0;
            &:after {
              content: "";
              display: block;
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              height: 1px;
              background-color: #484848;
              opacity: 0.3;
            }
          }
          &:last-of-type a:after {
            display: none;
          }
        }
      }
    }
  }
  .sb-hamburger {
    user-select: none;
    float: right;
    display: none;
    cursor: pointer;
    @include breakpoint-max("md") {
      display: block;
      margin: 10px;
    }
  }
}
