.header {
  position: absolute;
  width: 100%;
  z-index: 1;

  .logo {
    position: fixed;
    top: 31px;
    left: 2.5%;

    img {
      width: 120px;
    }
  }

  .nav {
    float: right;
    color: $grayDarken;
    font-size: 14px;

    &__list {
      &--item {
        display: inline-block;
        margin: 17px 11px;

        &-link {
          font-size: 14px;
          padding: 7px 0px;
          color: $grayDarken;
        }
      }
    }
  }
}
