$validArea: 50px; // タップ可能エリアの一辺の長さ
$menuBarWidth: 19px; // バンズ（or肉）の幅
$menuBarHeight: 2px; // バンズ（or肉）の高さ
$menuBarGap: 6px; // バンズと肉の隙間

.hamburger {
  display: none;
}


@media only screen and (max-width:768px) {
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: $validArea;
    height: $validArea;
    margin: 10px;
    z-index: 1;

    &.is-open {
      background: transparent;

      .hamburger-item {


        &:nth-child(1) {
          transform: translateY(0px) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateX($menuBarWidth / 3);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(0px) rotate(-45deg);
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 0px !important;
  }

  .header {
    z-index: 2;

    .logo {
      z-index: 1;
    }

    .nav {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      background-color: rgba(#f1f1f1, 0.95);
      left: 0;
      right: 0;
      top: 0;
      visibility: hidden;
      height: stretch;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 60px 0;
      transition: all 500ms;

      &.is-open {
        position: fixed;
        opacity: 1;
        visibility: visible;
      }

      &__list {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: stretch;
        padding: 0;

        &--item {
          text-align: center;
          vertical-align: middle;


          &-link {
            height: 33.33%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            font-size: calc(12px + 1.5vh);
            font-weight: 500;
            transition: all 300ms;

            &:hover,
            &:focus,
            &:active {
              color: $blue;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.hamburger-item {
  position: absolute;
  display: block;
  width: $menuBarWidth;
  height: $menuBarHeight;
  top: ($validArea - $menuBarHeight) / 2;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
  transition: .2s ease-out;

  &:nth-child(1) {
    transform: translateY(-$menuBarGap);
  }

  &:nth-child(2) {}

  &:nth-child(3) {
    transform: translateY($menuBarGap);
  }
}