$base : #ffffff;
$grayLighting: #F6F7F8;
$grayLight: #E8E6E6;
$grayLightIntermediary: #979797;
$gray: #7D7D7D;
$grayDarken: #3F4045;
$blue: #4DBFF8;
$blueDarken:#3D4CB7;
$marine: #41508A;
$marineDarken: #282A43;
$invertBlue:#B06AFB;